# Facebook API
ACCESS_TOKEN=your_facebook_access_token
PAGE_ID=your_page_id
URL_FACEBOOK=https://graph.facebook.com/v19.0/

# Telegram
BOT_TOKEN=your_telegram_bot_token
CHAT_ID=your_chat_id
URL_TELEGRAM=https://api.telegram.org/bot

# Timezone
TIMEZONE=America/Sao_Paulo